<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Amtstafel</ion-title>
    </ion-toolbar>

    <ion-searchbar placeholder="Amtstafel durchsuchen" (ionInput)="searchItems($event)"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ng-container *ngIf="boardItems">
        <ion-list>
            <ion-item *ngFor="let data of boardItems" (click)="api.openUrl(data.url, data.title)">
                <ion-label class="ion-text-wrap">
                    <strong>{{data.title}}</strong>
                    <p>{{data.content}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>
