.event-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  .avatar-date {
    background: var(--ion-color-primary);
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    float: left;
    padding: 10px;
    margin-right: 10px;

    .avatar-day-month {

    }

    .avatar-year {
      font-weight: 800;
    }
  }

  .event-title{
    font-size: 13px;
  }
}
