<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      contentId="main-content"
      type="overlay"
      (ionDidOpen)="menuState($event)"
      (ionDidClose)="menuState($event)">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <div class="menu-logo-container">
              <img src="/assets/logo_website.png" class="menu-logo" />
              <img src="/assets/logo_website_dark.png" class="menu-logo dark" />
            </div>
          </ion-list-header>
          <ion-note></ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item
              (click)="selectedIndex = i"
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label class="ion-text-wrap">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <div *ngIf="showDeviceData" class="device-data">
          <small>
            Push-ID: {{ pushId }}<br />
            UUID: {{ deviceId }}
          </small>
        </div>

        <div [className]="menuStateClass + ' mehrdafon-logo-container'">
          <small> Version: {{ environment.version }} | </small>
          <small> APP by <span class="mehrdafon-logo" (click)="deviceData()">mehrdafon GmbH</span> </small>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
