.welcome {
  text-align: center;
  border-bottom: 1px solid var(--ion-color-light-shade);
  margin: 15px;

  .logo {
    width: 85%;
    height: auto;

    &.dark {
      display: none;
    }
  }
}

.news-items-container {
  ion-col {
    &.ios {
      padding-bottom: 16px;
    }

    &.md {
      padding-bottom: 10px;
    }

    .detail-page-card.ios {
      height: 100%;
    }

    .detail-page-card.md {
      height: 100%;
    }

    .detail-page-card {
      & > img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .welcome {
    text-align: center;
    border-bottom: 1px solid var(--ion-color-light-shade);
    margin: 15px;

    .logo {
      display: none;

      &.dark {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 768px) {
  .news-items-container {
    ion-col {
      &:nth-child(odd) {
        .detail-page-card {
          &.ios {
            margin-right: 8px;
          }

          &.md {
            margin-right: 5px;
          }
        }
      }

      &:nth-child(even) {
        .detail-page-card {
          &.ios {
            margin-left: 8px;
          }

          &.md {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
